<!DOCTYPE html>
<!-- Default base template. Other templates define the "main" portion in this template -->
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        <div class="site">
            <div id="menu" class="menu-container">
            {{ partial "nav.html" . }}
            </div>
            <div id="content" class="content-container">
            {{ block "main" . }}
            {{ end }}
            {{ partial "math.html" . }}
            </div>
            {{ partial "footer-mobile.html" . }}
        </div>
    </body>
</html>
