// $primary-color: #27496d;
//$primary-color: #FF6363;
$primary-color: #4E57A4;
// $secondary-color: #f7dbe2;
$secondary-color: #F9E4EB;
$gray-dark: #5F5F5F;
$gray-darker: #131313;

.site {
  margin: 0;
  padding: 0;
}

.site-title a,
.post-title {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  color: $gray-dark;
}

.header-img-container {
  padding: 0 1em;

  .header-img {
    width: 100%;
    height: auto;
  }
}

.row {
  display: flex;

  .column {
    display: flex;
    flex-direction: column;
    flex: 50%;

    img {
      // max-width: 40%;
      width: 100%;
    }
  }

  .column-center {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1600px) {
  .site {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 15em;

    #menu nav {
      left: auto;
    }
  }
}


// Links
// -------------------
a {
    // text-decoration: underline;
    // text-decoration-skip-ink: auto;
    color: $primary-color;
}

a:visited {
    color: $primary-color;
}

.color-link {
    // text-decoration: none;
    color: $gray-dark; //$primary-color;
    // font-family: $sans-serif;
    margin-right: .5em;

    &:visited {
        color: $gray-dark;
    }
    &:hover {
        color: $gray-darker;

        .color-arrow {
            fill: $gray-dark;
        }
    }
}

// panel
.panel {
  display: flex;
  align-items: center;
  //justify-content: center;
  padding: .6em 1em;
  margin: 0 0 1em;

  .panel-mail {
    color-link {
      font-size: 20px;
    }
  }
}
 // TODO
.link-bg {
// .panel {
  position: relative;
  &:after {
   content: '';
   width: 100%;
   position: absolute;
   z-index: -1;
   transform: rotate(-2deg);
   max-width: 85%;
   left: 5px; bottom: -2px;
   height: 80%;
   background-color: $secondary-color;//#131313;
   // width: 0;
   transition: width .4s;
  }
}

@media only screen and (max-width: 450px) {
  .row {
    flex-direction: column;
  }

  .column-center div {
    justify-content: center;
    display: flex;

    img {
      max-width: 50%;
    }
  }

  .panel {
    margin: 1em 0 1em;
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 1.3em;
  }

  a {
    text-align: center;
  }
}

// TODO
nav {
  display: flex;
  flex-direction: column;

  .footer {
    justify-content: end;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: .2em;

    .nav-link {
      line-height: 100%;
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }
}

.nav-menu {
  // li.active a {
  //   cursor: pointer;
  //   font-weight: 700;
  //   &:after {
  //     width: 100%;
  //   }
  // }
  a.nav-link {
    position: relative;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #131313;
    line-height: 120%;
    font-size: 1.1em;
    &:hover,
    &:focus,
    &:active,
    &.active {
     cursor: pointer;
     font-weight: 700;
     &:after {
       width: 100%;
     }
    }

    &:after {
     content: '';
     position: absolute;
     z-index: -1;
     transform: rotate(-2deg);
     max-width: 85%;
     left: 5px; bottom: -2px;
     height: 80%;
     background-color: $secondary-color;//#131313;
     width: 0;
     transition: width .4s;
    }
  }
  //   &:hover {
  //     &:before {
  //       content: "//";
  //       padding: .3em;
  //     }
  //   }
  // }
}

@media only screen and (max-width: 900px) {

  .nav-menu {
    a.nav-link {
      text-align: center;
      margin-bottom: 0.4em;
    }
  }

  nav .footer {
    display: none;
  }

  .language-switcher {
    text-align: center;
  }
}

// Footer
// -------------------
.footer-mobile-links {
  ul {
    margin: 1em;
    padding: 0;

    a {
      margin-right: 0;
    }
  }
}

// Language Switcher
// -------------------

.language-switcher {
  position: relative;

  ul {
    right: 0;
    position: absolute;
  }

  .active {
    font-weight: bold;
    text-decoration: underline;
  }
}
// Deprecated sidebar version

// @media only screen and (max-width: 900px) {
//
//   nav .footer {
//     display: none;
//   }
//
//   .language-switcher {
//     text-align: center;
//   }
// }
//
// .language-switcher {
//
//   ul {
//     margin: .6em 0;
//     padding: 0 .2em;
//
//     a {
//       text-decoration: none;
//
//       &.active {
//         font-weight: bold;
//         text-decoration: underline;
//       }
//     }
//   }
// }

// Utils
// -------------------
.pull-right {
  float: right;
}

.list-unstyled {
  list-style-type: none;
}

.list-inline li {
  display: inline-block;
}

// Icons
// -------------------
.lnr {
  // display: inline-block;
  top: -0.08em;
  position: relative;
  display: inline-flex;
  fill: currentColor;
  padding: 0 .5em;
  width: 1em;
  height: 1em;
  // vertical-align: -0.05em;
}

.lnr-envelope,
.lnr-link {
  // color: #0F52BA;
  /* We can use "color" for setting the color
  of the SVG because we set its "fill" to
  "currentColor" */
  font-size: 40px;
  /* We can use "font-size" for changing the size
  of the SVG because its width and height were
  set 1em.
  To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}
