<footer class="footer-mobile">
	{{ partial "social.html" . }}

	<div class="footer-mobile-links">
		<ul class="list-unstyled">
		{{ range .Site.Menus.footer }}
			<li><a class="color-link nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
		{{ end }}
		<li><a href="https://gohugo.io" target="_blank" rel="noopener">Built with Hugo</a></li>
		</ul>
	</div>

	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
</footer>
