<footer class="footer">
	<div class="footer-menu">
		{{ range .Site.Menus.footer }}
			<a class="color-link nav-link" href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
	</div>
	<p><a href="https://gohugo.io" target="_blank" rel="noopener">Built with Hugo</a></p>

	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
</footer>
