<header>
    <div class="site-title">
        <div class="header-img-container">
          <img class="header-img" src="{{ .Site.Params.headerImageUrl }}" alt="{{ .Site.Title }}">
        </div>
    </div>
</header>
