{{ if .Site.IsMultiLingual }}
<div class="language-switcher">
  <ul class="list-unstyled list-inline {{ .Scratch.Get "ls-classes" }}">
    {{ $siteLanguages := .Site.Languages}}
    {{ $pageLang := .Page.Lang}}
    {{ if gt (len .Page.AllTranslations) 1 }}
      {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
              {{ if eq $translation.Lang .Lang }}
                {{ $selected := false }}
                {{ if eq $pageLang .Lang}}
                    <li><a href="{{ $translation.RelPermalink }}" class="color-link active">{{ .Params.shortcode }}</a></li>
                {{ else }}
                    <li><a href="{{ $translation.RelPermalink }}" class="color-link">{{ .Params.shortcode }}</a></li>
                {{ end }}
              {{ end }}
          {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}
