<!-- Sidebar navigation -->
<nav>
  {{ partial "header.html" . }}
  <div class="nav-menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a class="color-link nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
    {{ end }}
  </div>
{{ partial "footer.html" . }}
</nav>
