{{ define "main" }}
{{ .Scratch.Set "ls-classes" "pull-right" }}
{{ partial "language-switcher.html" . }}

<h1 class="post-title">{{ .Title }}</h1>
<div>
    <p>
    {{ .Content }}
    </p>
</div>

<div class="page-footer">
    {{if .Params.tags}}
    <hr class="footer-divider">
    {{ range .Params.tags }}
        <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
    {{ end }}
  {{ end }}
</div>

{{end}}
